/*Colors*/

aside.site {
    background-color: #EFEFEF;
	box-shadow: 1px 1px 0 rgba(158, 205, 215, 0.1) inset, 0 0 4px rgba(0, 0, 0, 0.3);
	color: #CDCDCD;
}
.bg {
    background-color: #3F3F3F;
}
.site_title {
	color: #CDCDCD;
}