/*Helpers*/

.absolute {
  position: absolute;
}
.block {
  display: block;
}
.clear {
  clear: both;
}
.first {
  margin-left: 0!important;
}
.fixed {
  position: fixed;
}
.hide {
  display: none;
}
.iteration {
  float: left;
  margin-left: 15px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.transition {
  -webkit-transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
  -moz-transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
  transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
}
.vis {
  display: block;
}
.visually_hidden {
  border: 0 !important;
  clip: rect(1px,1px,1px,1px);
  height: 1px!important;
  position: absolute !important;
  overflow: hidden;
  top: -99px;
  width: 1px !important;
  padding: 0 !important;
}

body:hover .visually_hidden a,body:hover .visually_hidden input,body:hover .visually_hidden button {
  display: none !important;
}
.zero {
  line-height: inherit;
  margin: 0;
  padding: 0;
}