/*Modular*/

.meta {
    font-size: 14px;
    font-weight: bold;
}
.module {
    
}
.node {
	background-color: #FEFEFE;
    border: 1px solid #EFEFEF;
}
.node:hover {
	background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
	box-shadow: 1px 1px 0 rgba(158, 205, 215, 0.1) inset, 0 0 20px rgba(0, 0, 0, 0.3);
}
.wrapper {
    margin: 0 auto;
    padding: 1.5%;
    width: 100%;
}