/*Modular*/

.copy {
	padding: 15px;
}
.meta {
    font-size: 14px;
    font-weight: bold;
}
.module {
    margin: 0 0 15px;
}
.node {
    margin-bottom: 15px;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}