/*Responsive and Grid*/

.one_of_one {
	padding: 25px;
	width: 100%;
}
.one_of_two {
	float: left;
	padding: 25px;
	width: 50%;
}
.one_of_three {
    border: 1px solid #3F3F3F;
    float: left;
    margin: 1.5%;
    padding: 1.5%;
    width: 30%;
}
.one_of_four {
	float: left;
	padding: 25px;
	width: 25%;
}
.one_of_five {
	float: left;
	padding: 25px;
	width: 20%;
}

/*Media Queries*/

@media all and (min-width: 0px) and (max-width: 768px) {

	.one_of_two.responsive {
		float: left;
		padding: 25px;
		width: 100%;
	}
	.one_of_three.responsive {
		float: left;
		padding: 25px;
		width: 100%;
	}
	.one_of_four.responsive {
		float: left;
		padding: 25px;
		width: 100%;
	}
	.one_of_five.responsive {
		float: left;
		padding: 25px;
		width: 100%;
	}

}