/*Responsive and Grid*/

.one_of_one {
	padding: 25px;
	width: 100%;
}
.one_of_two {
	float: left;
	padding: 25px;
	width: 50%;
}
.one_of_three {
	float: left;
	padding: 25px;
	width: 33.3333%;
}
.one_of_four {
	float: left;
	padding: 25px;
	width: 25%;
}
.one_of_five {
	float: left;
	padding: 25px;
	width: 20%;
}