/*Responsive and Grid*/

.one_of_one {
	padding: 1.5%;
	width: 100%;
}
.one_of_two {
	float: left;
	padding: 1.5%;
	width: 50%;
}
.one_of_three {
    float: left;
    padding: 1.5%;
    width: 33%;
}
.one_of_four {
	float: left;
	padding: 1.5%;
	width: 25%;
}
.one_of_five {
	float: left;
	padding: 1.5%;
	width: 20%;
}
.two_of_three {
	float: left;
	padding: 1.5%;
	width: 66.666%;
}
.two_of_five {
	float: left;
	padding: 1.5%;
	width: 40%;
}
.three_of_four {
	float: left;
	padding: 1.5%;
	width: 75%%;
}
.three_of_five {
	float: left;
	padding: 1.5%;
	width: 60%;
}
.four_of_five {
	float: left;
	padding: 1.5%;
	width: 80%;
}

/*General Media Queries*/

@media all and (min-width: 0px) and (max-width: 768px) {

	.one_of_two.responsive {
		float: left;
		padding: 1.5%;
		width: 100%;
	}
	.one_of_three.responsive {
		float: left;
		padding: 1.5%;
		width: 100%;
	}
	.one_of_four.responsive {
		float: left;
		padding: 1.5%;
		width: 100%;
	}
	.one_of_five.responsive {
		float: left;
		padding: 1.5%;
		width: 100%;
	}

}

/*Type Media Queries*/

@media all and (min-width: 1440.1px) and (max-width: 1650px) {

	.blog_article p {
		font-size: 19px;
		line-height: 31px;
	}

}
@media all and (min-width: 1366.1px) and (max-width: 1440px) {

	.blog_article p {
		font-size: 18px;
		line-height: 29px;
	}

}
@media all and (min-width: 1280.1px) and (max-width: 1366px) {

	.blog_article p {
		font-size: 17px;
		line-height: 27px;
	}

}
@media all and (min-width: 0px) and (max-width: 1280px) {

	.blog_article p {
		font-size: 15px;
		line-height: 24px;
	}

}