/*Structure*/

html {
	background-image: url('/assets/img/grey.png');
	background-repeat: repeat-y;
}
aside.site {
	color: #CDCDCD;
    padding-top: 3%;
    position: absolute;
    width: 60px;
}
main.site {
    padding-left: 60px;
    width: 100%;
}
figure {
    padding: 15px;
}
cite {
    padding: 15px 0;
}
cite.site {
    color: #FFFFFF;
    margin-top: -48px;
    text-shadow: 1px 1px 1px #000000;
}
.post_author_image {
	border-radius: 50%;
	width: 100px;
}
