/*Structure*/

html, body, aside.site {
	height: 100%;
}
aside.site {
    padding-top: 3%;
    position: fixed;
    width: 60px;
}
main.site {
    padding-left: 60px;
    width: 100%;
}
.post_author_image {
	border-radius: 50%;
	width: 100px;
}
