/*Typography*/

a{
	text-decoration: underline;
}
aside p {
	font-size: 15px;
	line-height: 24px;
}
figure {
    padding: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
html,
p {
	font-family: 'Source Sans Pro', sans-serif;
}
li {
	line-height: 30px;
}
.main p {
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 30px;
}
.site_title {
    font-size: 60px;
    max-width: 60px;
	text-decoration: none;
}
.site_title span {
	text-decoration: none;
}
.site_title span:after {
    content: " ";
}