@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
/*font-family: 'Bree Serif', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/
/* CSS Reset  
 * Based on a Reset by: Richard Clark - http://richclarkdesign.com
 * This CSS Reset can be found at: http://html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

pre {
  overflow-x: scroll; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

img {
  max-width: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*Typography*/
a {
  text-decoration: underline; }

aside p {
  font-size: 15px;
  line-height: 24px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif; }

html,
p {
  font-family: 'Source Sans Pro', sans-serif; }

li {
  line-height: 30px; }

.main p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 30px; }

.post_title {
  text-transform: uppercase; }

.site_title_wrap {
  margin: 0 auto;
  width: 20px; }

.site_title {
  color: #CDCDCD;
  font-size: 30px;
  max-width: 60px;
  text-decoration: none; }

.site_title span:after {
  content: " "; }

/*Modular*/
.bg {
  background-color: #3F3F3F; }

.meta {
  font-size: 14px;
  font-weight: bold; }

/*Module*/
/*Node*/
.node {
  background: #FEFEFE;
  border: 1px solid #EFEFEF;
  padding: 1.5%; }

.node:hover {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 1px 1px 0 rgba(158, 205, 215, 0.1) inset, 0 0 20px rgba(0, 0, 0, 0.3); }

.blog_article .node {
  background: #FFFFFF;
  box-shadow: none; }

.blog_article .node:hover {
  background: #FFFFFF;
  box-shadow: none; }

html.rgba .blog_article .node {
  background: rgba(254, 254, 254, 0.75);
  box-shadow: none; }

html.rgba .blog_article .node:hover {
  background: rgba(254, 254, 254, 0.75);
  box-shadow: none; }

/*Wrapper*/
.wrapper {
  margin: 0 auto;
  padding: 1.5%;
  width: 100%; }

/*Structure*/
html, body, aside.site {
  height: 100%; }

aside.site {
  background-color: #EFEFEF;
  color: #CDCDCD;
  padding-top: 3%;
  position: fixed;
  width: 60px; }

main.site {
  padding-left: 60px;
  width: 100%; }

figure {
  padding: 15px; }

cite {
  padding: 15px 0; }

cite.site {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 15px; }

.post_author_image {
  border-radius: 50%;
  width: 100px; }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * http://prismjs.com/
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none; }

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url("fancybox.png"); }

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none; }

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none; }

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none; }

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff; }

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101; }

#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url("fancybox.png") -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none; }

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0; }

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top; }

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block; }

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url("blank.gif");
  z-index: 1102;
  display: none; }

#fancybox-left {
  left: 0px; }

#fancybox-right {
  right: 0px; }

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block; }

#fancybox-left-ico {
  background-image: url("fancybox.png");
  background-position: -40px -30px; }

#fancybox-right-ico {
  background-image: url("fancybox.png");
  background-position: -40px -60px; }

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */ }

#fancybox-left:hover span {
  left: 20px; }

#fancybox-right:hover span {
  left: auto;
  right: 20px; }

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001; }

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("fancybox-x.png"); }

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -162px; }

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("fancybox-y.png");
  background-position: -20px 0px; }

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -182px; }

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("fancybox-x.png");
  background-position: 0px -20px; }

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -142px; }

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("fancybox-y.png"); }

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -122px; }

#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102; }

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative; }

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff; }

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left; }

#fancybox-title-over {
  padding: 10px;
  background-image: url("fancy_title_over.png");
  display: block; }

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px; }

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto; }

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap; }

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url("fancybox.png") -40px -90px no-repeat; }

#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url("fancybox-x.png") 0px -40px; }

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url("fancybox.png") -55px -90px no-repeat; }

/* IE6 */
.fancybox-ie6 #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_nav_left.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1; }

.fancybox-ie6 #fancybox-title-float-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_title_left.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-float-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_title_main.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-float-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
  height: expression(this.parentNode.clientHeight + "px"); }

#fancybox-loading.fancybox-ie6 {
  position: absolute;
  margin-top: 0;
  top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px'); }

#fancybox-loading.fancybox-ie6 div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg {
  background: transparent !important; }

.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/*Responsive and Grid*/
.one_of_one {
  padding: 1.5%;
  width: 100%; }

.one_of_two {
  float: left;
  padding: 1.5%;
  width: 50%; }

.one_of_three {
  float: left;
  padding: 1.5%;
  width: 33%; }

.one_of_four {
  float: left;
  padding: 1.5%;
  width: 25%; }

.one_of_five {
  float: left;
  padding: 1.5%;
  width: 20%; }

.two_of_three {
  float: left;
  padding: 1.5%;
  width: 66.666%; }

.two_of_five {
  float: left;
  padding: 1.5%;
  width: 40%; }

.three_of_four {
  float: left;
  padding: 1.5%;
  width: 75%%; }

.three_of_five {
  float: left;
  padding: 1.5%;
  width: 60%; }

.four_of_five {
  float: left;
  padding: 1.5%;
  width: 80%; }

/*Media Queries*/
@media all and (min-width: 0px) and (max-width: 768px) {
  .one_of_two.responsive {
    float: left;
    padding: 1.5%;
    width: 100%; }

  .one_of_three.responsive {
    float: left;
    padding: 1.5%;
    width: 100%; }

  .one_of_four.responsive {
    float: left;
    padding: 1.5%;
    width: 100%; }

  .one_of_five.responsive {
    float: left;
    padding: 1.5%;
    width: 100%; } }
/*Helpers*/
.absolute {
  position: absolute; }

.block {
  display: block; }

.clear {
  clear: both; }

.first {
  margin-left: 0 !important; }

.fixed {
  position: fixed; }

.hide {
  display: none; }

.iteration {
  float: left;
  margin-left: 15px; }

.left {
  float: left; }

.right {
  float: right; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.transition {
  -webkit-transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
  -moz-transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s;
  transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s, opacity 0.3s linear 0s, box-shadow 0.3s linear 0s; }

.vis {
  display: block; }

.visually_hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  position: absolute !important;
  overflow: hidden;
  top: -99px;
  width: 1px !important;
  padding: 0 !important; }

body:hover .visually_hidden a, body:hover .visually_hidden input, body:hover .visually_hidden button {
  display: none !important; }

.zero {
  line-height: inherit;
  margin: 0;
  padding: 0; }
