---
layout: default
---
<style type="text/css">
html.backgroundsize:after {
    background: url("{{ page.featured_image_low_res }}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.15;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}
</style>

<article class="blog_article module" id="post_number_{{ page.post_number }}">
	<div class="node">
		
		<figure class="featured_image tac">
			<img class="lazy" src="{{ page.featured_image_low_res }}" data-original="{{ page.featured_image }}" />
			<noscript><img src="{{ page.image }}" /></noscript>
			<cite class="block tac">Photo courtesy of: {{ page.featured_image_author }}</cite>
		</figure>
		
		<section class="meta_wrapper">
			<h1 class="post_title tac">{{ page.title }}</h1>
			<p class="meta">{{ page.date | date_to_string }}</p>
		</section>
		
		{{ content }}
		
		<figure class="post_author right tac">
			<img class="post_author_image" src="{{ page.post_author_image }}" />
			<cite class="cite generic tac">Written by: {{ page.post_author }}</cite>
		</figure>
		
	<div class="clear"></div>	
	</div>
	<!-- END .node -->
<div class="clear"></div>
</article>
<!-- END .module -->